

p{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

body{
    margin: 0;
}

.normal-text{
    font-size: 1rem;

}



.default-selectbox-design{
    size:1rem;
    padding: 0px;
    height: 10px;

}
.default-button-design{
    font-size: 1rem;
    display: inline;
}
.default-area-design{
    font-size: 1rem;
    display: inline;
    width: 90%;
    
    resize: none; /* リサイズを無効化 */
    overflow: auto; /* 内容が溢れた場合にスクロールバーを表示 */
}



.gradient-border {
    background: #6c4;
    border-radius: 10px;
    border: 8px solid; /* ボーダーの幅を設定 */
    border-image: linear-gradient(#af7, #8f4) 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 影を追加 #cec398 16%,#bcb382 */
}



.white{
    border-color: white;
    background: #eee;
}
.black{
    border-color: #000;
    background: #111;
}

.square {
    width: 100%; /* ここはお好みで設定 */
    
}



